.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.btnGroup {
  display: flex;

  :global {
    button {
      margin-left: 10px;
    }
  }
}
